.message-list-wrap {
    height: 300px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.message-list-scroller {
    height: 100%;
    overflow: auto;
}

.message {
    position: relative;
    border-radius: 4px;
    margin: 6px 16px;
    padding: 16px;
}

.message.message-me {
    background: #28a745;
    margin-right: 20%;
}

.message.message-recipient {
    background: #007bff;
    margin-left: 20%;
}

.message:after {
    content: '';
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    margin-top: -8px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.message.message-me:after {
    left: -8px;
    border-right: 8px solid #28a745;
}

.message.message-recipient:after {
    right: -8px;
    border-left: 8px solid #007bff;
}

.message .message-label {
    text-decoration: underline;
    font-weight: bold;
}

.message .message-label-recipient {
    text-align: right;
}
